<!DOCTYPE html>
<html>

<head>
    <title>TuneStation Helper API Documentation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }
    </style>
</head>

<body>
    <h1>Welcome to TuneStation Helper API!</h1>
    <p>To download a song, please visit the <code>/download</code> endpoint and supply <code>song_id</code> parameter.
        <br>
        Eg: <code>/download?song_id=peNXmheB</code>
    </p>
</body>

</html>